@use "../base.scss";

.mailingContainer {
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;

  h1 {
    border-bottom: 1px solid base.$color-grey;
    padding-bottom: 1.5rem;

    span {
      color: base.$color-orange;
    }
  }

  form {
    width: 70rem;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    column-gap: 2rem;
    min-height: 30rem;

    .customLabel {
      label {
        margin: 0;
      }

      input {
        padding: 0 .8rem;
        height: 3.5rem;
        margin: 0.5rem 0;
        font-size: 22px;
      }
    }

    .formRow {
      display: flex;
      overflow: visible;

      .mailingFormGroup {
        width: 50%;
        padding: 2rem;
      }
    }

    margin: 3rem 0;
    box-shadow: base.$shadow;
    border-radius: 0.5rem;
    padding: 1rem;

    label {
      margin: 1rem 0 0 0.5rem;
    }

    #radioInputs {
      text-align: center;
      overflow: visible;

      display: flex;
      flex-direction: column;
      align-items: center;

      position: relative;
      overflow: visible;
      border-left: 1px solid black;

      label {
        font-size: 1.5rem;
        margin-bottom: 0.7rem;
      }

      #mailingUserSelect {
        width: 25rem;
        margin: 2rem 0;
        font-size: 1.3rem;
        position: absolute;
        top: 7rem;
        overflow: visible;
        z-index: 999;
      }

      #radioOptions {
        margin: 0;
        width: 25rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 1rem;

        label {
          margin: 0 0 0 0.5rem;
          font-size: 1.4rem;
        }

        input {
          padding: 0.6rem;
          cursor: pointer;
          margin: 0.3rem;
        }
      }
    }

    #mailingFormButton {
      width: 25rem;
      margin: 1rem auto;
      padding: 1rem 0;
      border: none;
      border-radius: .5rem;
      color: base.$color-orange;
      box-shadow: base.$shadow;
      background-color: white;
      font-size: 1.2rem;

      transition: all ease 0.5s;
    }

    #mailingFormButton:hover {
      background-color: rgba($color: base.$color-orange, $alpha: 0.3);
    }
  }
}

.ck {
  overflow: visible;
  box-shadow: rgba(0, 0, 0, 0.023) 0px 4px 12px;

  .ck-content {
    min-height: 30rem;
  }
}
