@use "../base.scss";

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;

  a {
    padding-top: 19rem;
    color: base.$color-orange;
    text-decoration: none;
    font-weight: 700;
    font-size: base.$font-small;
  }

  img {
    width: 17rem;
    position: absolute;
    top: 5vh;
  }

  form {
    margin-top: 3rem;
    margin-bottom: 5vh;
    width: 90%;

    label {
      margin-top: 2rem;
      margin-left: 1rem;
      font-size: base.$font-small;
    }

    input {
      padding: 0.8rem;
    }

    button {
      margin-top: 5rem;

      width: 100%;
      padding: 0.9rem;
      font-weight: bold;
      font-size: base.$font-small;
      background-color: base.$color-orange;
      border: none;
      outline: none;
      transition: all ease 0.7s;
      margin: 3rem auto;
    }
  }

  @media (min-width: 768px) {
    form {
      width: 30rem;

      button {
        width: 30rem;
      }
    }
  }
}
