@use "../base.scss";

.restaurantDetails {
  width: 100vw;
  min-height: 100vh;

  .restaurantDetailsContainer {
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100%;

    .smallInfoBox {
      box-shadow: base.$shadow;
      border-radius: 0.5rem;
      margin: 7rem 0 2rem 0;
      padding: 1rem 1rem 2rem 1rem;

      width: fit-content;
      height: 13rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .smallInfoBoxStatus {
        font-size: 2rem;
        color: black;
      }

      .smallInfoBoxHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;

        .smallInfoBoxHeaderImage {
            width: 4rem;
            height: 4rem;

            color: grey;
            box-shadow: base.$shadow;

            border-radius: 2rem;
            margin: 1rem 2rem 1rem 1rem;
        }

        color: base.$color-orange;

        p {
            margin: 0;
            font-size: 1.1rem;
        }

        strong {
            margin: 0;
            font-size: 1.5rem;
        }
      }
    }
  }
}
