@use "../base.scss";

.filter {
  max-width: 70rem;
  margin: 10rem auto 3rem auto;

  display: flex;
  align-items: center;
  justify-content: space-around;

  #filterContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  input,
  select {
    border-radius: 0.2rem;
    height: 3rem;
    width: 10rem;
    margin: 0.5rem;
    padding: 0 1rem;
    border: none;
    box-shadow: base.$shadow;
    background-color: white;
    font-size: 16px;
  }

  button {
    width: 10rem;
    border-radius: 0.2rem;
    background-color: base.$color-orange;
    height: 3rem;
    border: none;
    box-shadow: base.$shadow;
    color: white;
    font-weight: bold;
    font-size: 14px;
  }
}
