// VARIABLES

$color-orange: #f18a33;
$color-green: #52e899;
$color-grey: #717171;
$color-light-grey: #717171;

// $shadow: 5px 5px 15px #00000029;
$shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
// FONT

$font-small: 1.2rem;
$font-medium: 1.3rem;
$font-large: 1.7rem;
$font-display: 3rem;

$font-family: DIN Pro Cond;

@font-face {
  font-family: "DIN Pro Cond";
  src: url("/src/fonts/DINPro-CondensedBlack.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "DIN Pro Cond";
  src: url("/src/fonts/DINPro-CondensedRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN Pro Cond";
  src: url("/src/fonts/DINPro-CondensedBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "DIN Pro Cond";
  src: url("/src/fonts/DINPro-CondensedLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

// CONFIG

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  font-family: DIN Pro Cond, sans-serif;
}

body {
  scroll-behavior: smooth;
  font-family: "DIN Pro Cond", sans-serif;
}

// STYLES

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: $font-large;
}

.pageContainer {
  max-width: 100%;
  min-height: 100vh;
  height: auto;
  margin: 2rem;
  transition: all ease 0.5s;
}

.pageHeader {
  width: 100vw;
  height: 10vh;
  box-shadow: $shadow;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

  z-index: 998;

  .pageTitle {
    display: flex;
    align-items: center;

    h1 {
      font-weight: 900;
      color: $color-orange;
      margin: 0 1rem 0 0;
    }

    span {
      color: $color-orange;
      font-size: 2.2rem;
      padding: 0.3rem;
    }

    @media (max-width: 1024px) {
      span {
        font-size: 2rem;
      }
    }
  }

  .menuToggle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10%;
    padding: 0.5rem;

    border-radius: 2rem;
    box-shadow: $shadow;

    cursor: pointer;
    transition: all ease 0.5s;

    span {
      overflow: hidden;
      font-size: 1.7rem;
      color: $color-orange;
    }
  }

  .menuToggle:hover {
    background-color: rgba($color: $color-orange, $alpha: 0.3);
  }
}

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;

  display: none;

  backdrop-filter: blur(7px);
  transition: all ease 0.7s;
  z-index: 999999;
}

.spinner {
  color: $color-orange;
  font-size: 1.7rem;
  width: 3rem;
  height: 3rem;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

label {
  font-size: $font-small;
}

.switch {
  background-color: rgba($color: $color-grey, $alpha: 0.5);
  width: 70px;
  height: 30px;
  border-radius: 2rem;
  margin: auto;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  padding: 0 5px;
  cursor: pointer;

  .ball {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}

select {
  cursor: pointer;
}
